body {
  font-family: 'Kanit', sans-serif !important;
}

#navbar__profile__img {
  width:30px;
  height:30px;
}

.checkout-form button {
  width:100%;
  background-color:#007bff;
  border:none;
  color:white;
  padding:8px;
  border-radius: 5px;
}

.gachapon figure img {
  width:100%;
  height:500px;
}

.inventory-img {
  width:50px;
  height:50px;
}

.btn {
  font-family: 'Kanit', sans-serif !important;
}

.card-text {
  font-family: 'Kanit', sans-serif !important;
}
